.card-post{
    text-decoration: none;
    color:black
}
.category{
    background-color: yellow;
}
.shadow{
    box-shadow: 17px 10px 5px lightblue;
}
.list{
    list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.list li{
    display: inline-block;
  font-size: 25px;
  padding: 10px;
}
#likepost{
    color:red;
    background-color: white;
    margin-top: 15px;;
}